
{#
	/**
	* @file
	* Component to render an icon card.
	*/

	/* Usage example: */
  {% embed 'kraken:card--icon' with {
    color: 'bg-ubc-blue bg-dark',
    customClasses: 'lostsa-custom-classes scooby yeah',
    figureStyles: 'my-figure-style',
    imageZoom: true,
    layout: 'flex-row',
    link: 'https://ubc.ca',
    noInsetContent: true,
    noInsetImage: true,
    noShadow: false,
    title: 'Blockchain icons are nice',
    titleStyles: 'my-title-style',
    target: true,
  } %}
    {% block media %}
      {% embed 'kraken:icon' with {
      icon: 'icon-search',
      size: 'w-12 h-12',
      color: 'text-ubc-grey-3',
      } %}
      {% endembed %}
    {% endblock %}
    {% block content %}
      <p class="line-clamp-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    {% endblock %}
  {% endembed %}
#}

{% set cardprimaryattributes = create_attribute() %}
{% set figureattributes = create_attribute() %}
{% set contentattributes = create_attribute() %}
{% set titleattributes = create_attribute() %}
{% set classes = [
    'ubc-card',
    'ubc-card--icon',
    'relative',
    'h-full',
    'hover--cursor-pointer',
    'group',
    'isolate',
    noShadow ? '': 'shadow hover--shadow-lg',
    imageZoom ? 'img-zoom',
    color ? color: 'bg-transparent bg-light',
    customClasses,
  ]
%}
{% set figure_classes = [
    'mt-0',
    'ubc-card__media',
    'flex-none',
    'flex',
    'justify-center',
    'place-items-center',
    noInsetImage ? '': 'p-6',
    figureStyles,
  ]
%}
{% set content_classes = [
    'flex',
    'w-full',
    'flex-col',
    noInsetContent ? '': 'p-6',
  ]
%}
{%
  set title_classes = [
    'text-xl',
    'mt-0',
    titleStyles,
  ]
%}
{% if layout is same as 'flex-row' %}
  {% set layout_classes = [
      'sm--flex',
      'sm--flex-row',
    ]
  %}
{% endif %}
{% if layout is same as 'flex-row-reverse' %}
  {% set layout_classes = [
      'sm--flex',
      'sm--flex-row-reverse',
    ]
  %}
{% endif %}
{% if layout is same as 'ubc-card--horiz' or layout is same as 'ubc-card--horiz-rev' %}
  {% set figure_layout_classes = [
      'sm--max-w-[300px]',
      'sm--shrink-0',
    ]
  %}
  {% set horiz_content_classes = [
      'flex-1',
      'self-center',
    ]
  %}
{% endif %}
<article{{ cardprimaryattributes.addClass(classes, layout_classes) }} data-component-id="kraken:card--icon">
  <figure{{ figureattributes.addClass(figure_classes, figure_layout_classes) }}>
    {% block media %}{% endblock %}
  </figure>
  <div{{ contentattributes.addClass(content_classes, horiz_content_classes) }}>
    <div class="py-2 ubc-card__content first-child--mt-0">
      <h3{{ title_attributes.addClass(title_classes) }}>
        <a href="{{ link }}" class="no-underline hover--no-underline text-ubc-blue link-expand" {% if target %}
    target="_blank"{% endif %}>
          {{ title }}
        </a>
      </h3>
      {% block content %}{% endblock %}
    </div>
    <div class="w-full mt-auto ubc-card__actions">
      {% block actions %}{% endblock %}
    </div>
  </div>
</article>
