{% extends "page.html.twig" %}

{% block breadcrumb %}
{% endblock breadcrumb %}

{% block primary_content %}
  <div{{ main_content_attributes.addClass('col-span-full').setAttribute('id', 'primary-content') }}>
    {% if page.heading %}
      {{ page.heading }}
    {% endif %}
    {% if page.help %}
      <div id="help-region">{{ page.help }}</div>
    {% endif %}
    <section class="section">
      {% if page.highlighted %}
        <div id="highlighted">{{ page.highlighted }}</div>
      {% endif %}
      {% block content %}
        {{ page.content }}
      {% endblock content %}
    </section>
  </div>
{% endblock primary_content %}

{% block sidebar_primary %}
  {% if sidebar_primary_exists %}
    <section{{ sidebar_primary_attributes.addClass('col-span-full').setAttribute('id', 'sidebar-primary') }}>
      {{ page.sidebar_primary }}
    </section>
  {% endif %}
{% endblock sidebar_primary %}

{% block sidebar_secondary %}
  {% if sidebar_primary_exists %}
    <section{{ sidebar_secondary_attributes.addClass('col-span-full').setAttribute('id', 'sidebar-secondary') }}>
      {{ page.sidebar_secondary }}
    </section>
    {% endif %}
{% endblock sidebar_secondary %}
