{% extends "page.html.twig" %}

{%
  set profile_main_content_classes = [
    'col-span-full',
    'md--col-span-6',
    'md--row-span-2',
    'md--col-start-4',
    'md--row-start-2',
    'mt-12',
    'pb-12',
  ]
%}
{%
  set profile_sidebar_primary_classes = [
    'col-span-full',
    'md--col-span-3',
    'md--col-start-1',
    'md--row-start-2',
  ]
%}
{%
  set profile_sidebar_secondary_classes = [
    'col-span-full',
    'md--col-span-3',
    'md--row-span-2',
    'md--col-start-10',
    'md--row-start-2',
  ]
%}
{% if not sidebar_primary_exists and not sidebar_secondary_exists %}
{%
  set profile_main_content_classes = [
    'col-span-full',
    'mt-12',
    'pb-12',
  ]
%}
{% endif %}
{% if sidebar_primary_exists and not sidebar_secondary_exists %}
  {%
    set profile_main_content_classes = [
      'col-span-full',
      'md--col-span-8',
      'md--row-span-2',
      'md--col-start-1',
      'md--row-start-2',
      'mt-12',
      'pb-12',
    ]
  %}
  {%
    set profile_sidebar_primary_classes = [
      'col-span-full',
      'md--col-span-4',
      'md--row-start-2',
      'md--col-start-9',
    ]
  %}
{% endif %}
{% if sidebar_secondary_exists and not sidebar_primary_exists %}
  {%
    set profile_main_content_classes = [
      'col-span-full',
      'md--col-span-8',
      'md--row-span-2',
      'md--col-start-5',
      'md--row-start-2',
      'mt-12',
      'pb-12',
    ]
  %}
  {%
    set profile_sidebar_secondary_classes = [
      'col-span-full',
      'md--col-span-4',
      'md--row-start-2',
      'md--col-start-1',
    ]
  %}
{% endif %}

{% block primary_content %}
  <div{{ main_content_attributes.addClass(profile_main_content_classes).setAttribute('id', 'primary-content') }}>
    {% if page.heading %}
      {{ page.heading }}
    {% endif %}
    {% if page.help %}
      <div id="help-region">{{ page.help }}</div>
    {% endif %}
    <section class="section">
      {% if page.highlighted %}
        <div id="highlighted">{{ page.highlighted }}</div>
      {% endif %}
      {% block content %}
        {{ page.content }}
      {% endblock content %}
    </section>
  </div>
{% endblock primary_content %}

{% block sidebar_primary %}
  {% if sidebar_primary_exists %}
    <section{{ sidebar_primary_attributes.addClass(profile_sidebar_primary_classes).setAttribute('id', 'sidebar-primary') }}>
      {{ page.sidebar_primary }}
    </section>
  {% endif %}
{% endblock sidebar_primary %}

{% block sidebar_secondary %}
  {% if sidebar_primary_exists %}
    <section{{ sidebar_secondary_attributes.addClass(profile_sidebar_secondary_classes).setAttribute('id', 'sidebar-secondary') }}>
      {{ page.sidebar_secondary }}
    </section>
    {% endif %}
{% endblock sidebar_secondary %}