
{#
	/**
	* @file
	* Component to render an image card.
	*/

	/* Usage example: */
  {% embed 'kraken:card--image' with {
    buttonClasses: 'unit-button'
    color: 'bg-ubc-blue bg-dark',
    customClasses: 'lostsa-custom-classes scooby yeah',
    imageZoom: true,
    layout: 'place-content-center text-center',
    link: 'https://ubc.ca',
    linkText: 'Read more',
    meta: 'January 14, 2026',
    noShadow: false,
    title: 'Blockchain icons are nice',
    target: true,
  } %}
    {% block media %}
      {% embed 'kraken:icon' with {
      icon: 'icon-search',
      size: 'w-12 h-12',
      color: 'text-ubc-grey-3',
      } %}
      {% endembed %}
    {% endblock %}
    {% block content %}
      <p class="line-clamp-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    {% endblock %}
  {% endembed %}
#}

{% set cardimageattributes = create_attribute() %}
{% set card_attributes = create_attribute() %}
{% set figure_attributes = create_attribute() %}
{% set title_attributes = create_attribute() %}
{% set link_attributes = create_attribute() %}
{% set button_attributes = create_attribute() %}
{%
  set classes = [
    'ubc-card',
    'relative',
    'min-h-[24rem]',
    'min-h-full',
    'hover--cursor-pointer',
    'flex',
    'shadow',
    'hover--shadow-lg',
    'group',
    'isolate',
    'has-gradient--after',
    customClasses,
  ]
%}
{%
  set figure_classes = [
    'img-cover',
    'ubc-card__media',
    'mt-0',
    'object-center',
    'absolute',
    'inset-0',
  ]
%}
{%
  set content_classes = [
    layout ? layout: 'mt-auto text-center',
    'p-4',
    'ubc-card__content',
    'first-child--mt-0',
    'w-full',
    'z-20',
    'md--p-12',
    'relative',
    'flex',
    'flex-col',
    'text-white',
  ]
%}

{%
  set title_classes = [
    'text-xl',
    'mt-0',
  ]
%}
{%
  set link_classes = [
    'no-underline',
    'hover--no-underline',
    '!text-white',
    'link-expand',
    'hover--!text-ubc-blue-polar',
  ]
%}
{%
  set button_classes = [
    buttonClasses ? buttonClasses: 'unit-button unit-button--transparent group-hover--bg-ubc-blue text-sm',
  ]
%}
<article{{ cardimageattributes.addClass(classes) }} data-component-id="kraken:card--image">
  <figure{{ figure_attributes.addClass(figure_classes) }}>
    {% block media %}{% endblock %}
  </figure>
  <div{{ card_attributes.addClass(content_classes) }}>
    {% if meta %}
      <div class="text-sm">{{ meta }}</div>
    {% endif %}
    {% if link %}
      <h3{{ title_attributes.addClass(title_classes) }}>
        <a{{ link_attributes.addClass(link_classes) }} href="{{ link }}" {% if target %}
      target="_blank"{% endif %} rel="bookmark">{{ title }}</a>
      </h3>
    {% else %}
      <h3{{ title_attributes.addClass(title_classes) }}>{{ title }}</h3>
    {% endif %}
      {% block content %}{% endblock %}
    {% if link %}
      <p><span{{ button_attributes.addClass(button_classes) }}>{{ linkText }}</span></p>
    {% endif %}
  </div>
</article>